@page
@model IndexModel
@{
   //Localization of contents
    ViewData["Title"] = Localizer["title"];

    //List of geographics maps
    List<string> Maps = new List<string> { "OpenStreetMap - EPSG:3857", "Google Normal - EPSG:3857", "Google Satellite - EPSG:3857", "Google Hybrid - EPSG:3857", "OpenTopoMap", "Sentinel-2 cloudless", "Metacarta - EPSG:4326", "geoSdi - EPSG:4326", "geoSdi No Map - EPSG:4326" };
    
    //Json data
    string? jsonContent = "";
    if (ViewData["jsonContent"] is string)
    {
        jsonContent = (string?)ViewData["jsonContent"]; // Access jsonContent from ViewData
    }   
}

@* Autentication *@
@if (!(User.Identity is null) && !User.Identity.IsAuthenticated)
{
    Response.Redirect("Identity/Account/Login");
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>MULTICLIMACT</title>
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
 
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/openlayers/dist/ol.js"></script>
    </head>
    <body>
        <!-- Space between the Layout menu and the page menu -->
        <div id="space" style="width: 100%; height: 10vh;"></div>

        <!-- PAGE MENU: BEGIN -->
        <nav class="navbar navbar-expand-sm navbar-dark" style=" background-color: #185ba1;">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Natural Events</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('Earthquakes'); updateBreadcrumb('Natural Events', 'Earthquakes')">Earthquakes</a></li>
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('Heat Waves'); updateBreadcrumb('Natural Events', 'Heat Waves')">Heat Waves</a></li>
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('Precipitations'); updateBreadcrumb('Natural Events', 'Precipitations')">Precipitations</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Risk Analysis</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('Damages'); updateBreadcrumb('Risk Analysis', 'Damages')">Damages</a></li>
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('Resilience'); updateBreadcrumb('Risk Analysis', 'Resilience')">Resilience</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Simulation</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('Earthquake'); updateBreadcrumb('Simulation', 'Earthquake')">Earthquake</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">UAS</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('UAS'); updateBreadcrumb('UAS', 'Video from UAS')">Video from UAS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Maps</a>
                        <ul class="dropdown-menu">
                            @foreach (var mappa in Maps)
                            {
                                <li><a class="dropdown-item" href="#" onclick="changeMap('@mappa.Trim()', activeTab)">@mappa.Trim()</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- PAGE MENU: END -->

        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" id="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
        </nav>

        <!-- NAVIGATION TABS: BEGIN -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- TAB MENU 1° Level: [RISK ANALYSIS] : BEGIN -->

            <!-- TAB MENU 2° Level: [DAMAGES] : BEGIN -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="buildings-tab" data-bs-toggle="tab" data-bs-target="#buildings" type="button" role="tab" aria-controls="buildings" aria-selected="false">Buildings</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="infrastructures-tab" data-bs-toggle="tab" data-bs-target="#infrastructures" type="button" role="tab" aria-controls="infrastructures" aria-selected="false">Critical Infrastructures</button>
            </li>
            <!-- TAB MENU 2° Level: [DAMAGES] : END -->

            <!-- TAB MENU 2° Level: [RESILIENCE] : BEGIN -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="social-tab" data-bs-toggle="tab" data-bs-target="#social" type="button" role="tab" aria-controls="social" aria-selected="false">Social Resilience</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="economic-tab" data-bs-toggle="tab" data-bs-target="#economic" type="button" role="tab" aria-controls="economic" aria-selected="false">Economic Resilience</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="operational-tab" data-bs-toggle="tab" data-bs-target="#operational" type="button" role="tab" aria-controls="operational" aria-selected="false">Operational Resilience</button>
            </li>
            <!-- TAB MENU 2° Level: [RESILIENCE] : END -->

            <!-- TAB MENU 1° Level: [RISK ANALYSIS] : END -->
            
            <!-- ########################################## -->
            
            <!-- TAB MENU 1° Level: [SIMULATION] : BEGIN -->
            <!-- TAB MENU 2° Level: [EARTHQUAKE] : BEGIN -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="earthquakeSimulation-tab" data-bs-toggle="tab" data-bs-target="#earthquakeSimulation" type="button" role="tab" aria-controls="earthquakeSimulation" aria-selected="false">Simulation</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="earthquakeSimulationResults-tab" data-bs-toggle="tab" data-bs-target="#earthquakeSimulationResults" type="button" role="tab" aria-controls="earthquakeSimulationResults" aria-selected="false">Results</button>
            </li>
            <!-- TAB MENU 2° Level: [EARTHQUAKE] : END -->
            <!-- TAB MENU 1° Level: [SIMULATION] : END -->


        </ul>
        <!-- NAVIGATION TABS: END -->

        <!-- TAB PANELS: BEGIN -->

        <div class="tab-content" id="myTabContent">
            <!-- TAB PANELS 1° Level MENU [RISK ANALYSIS]: BEGIN -->

            <!-- TAB PANELS 2° Level MENU [DAMAGES]: BEGIN -->
            <div class="tab-pane fade" id="buildings" role="tabpanel" aria-labelledby="buildings-tab">
                <!-- Content for Buildings tab -->
                <p>Content related to Buildings</p>
                <!-- Map of Buildings -->
                <div id="mapBuildings" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>
            </div>
            <div class="tab-pane fade" id="infrastructures" role="tabpanel" aria-labelledby="infrastructures-tab">
                <!-- Content for Critical Infrastructures tab -->
                <p>Content related to Critical Infrastructures</p>
                <!-- Map of Critical Infrastructures-->
                <div id="mapCriticalInfrastructures" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>
            </div>
            <!-- TAB PANELS 2° Level MENU [DAMAGES]: END -->

            <!-- TAB PANELS 2° Level MENU [RESILIENCE]: BEGIN -->
            <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab">
                <!-- Content for Social Resilience tab -->
                <p>Content related to Social Resilience</p>
                <!-- Map of Social Resilience -->
                <div id="mapSocialResilience" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>
            </div>
            <div class="tab-pane fade" id="economic" role="tabpanel" aria-labelledby="economic-tab">
                <!-- Content for Economic Resilience tab -->
                <p>Content related to Economic Resilience</p>
                <!-- Map of Economic Resilience -->
                <div id="mapEconomicResilience" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>
            </div>
            <div class="tab-pane fade" id="operational" role="tabpanel" aria-labelledby="operational-tab">
                <!-- Content for Operational Resilience tab -->
                <p>Content related to Operational Resilience</p>
                <!-- Map of Operational Resilience -->
                <div id="mapOperationalResilience" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>
            </div>
            <!-- TAB PANELS 2° Level MENU [RESILIENCE]: END -->
            <!-- ########################################## -->
            <!-- TAB PANELS 1° Level MENU [SIMULATION]: BEGIN -->
			<div class="tab-pane fade" id="earthquakeSimulation" role="tabpanel" aria-labelledby="earthquakeSimulation-tab">
                <!-- Content for earthquakeSimulation tab -->
                <p>Content related to EarthQuake Simulation </p>
                <!-- FORM of earthquakeSimulation  -->
                <div id="formEarthquakeSimulation" style="width: 80%; cursor: pointer; overflow: hidden; display: block;">
                    <h2 class="text-center">Earthquake Simulation Form</h2>
						<form id="earthquakeInputForm" class="row g-3" method="post" action="">
                            <div class="col-md-6">
                                <label for="lon" class="form-label">Longitude (DMS)</label>
                                <input type="text" class="form-control" id="lon" name="lon" placeholder="Enter longitude (Es: 42.9087)" value="42.9087">
                            </div>
                            <div class="col-md-6">
                                <label for="lat" class="form-label">Latitude (DMS)</label>
                                <input type="text" class="form-control" id="lat" name="lat" placeholder="Enter latitude (Es: 13.1288)" value="13.1288">
                            </div>
                            <div class="col-md-6">
                                <label for="depth" class="form-label">Depth (Km)</label>
                                <input type="text" class="form-control" id="depth" name="depth" placeholder="Enter depth (Es: 6.0)" value="6.0">
                            </div>
                            <div class="col-md-6">
                                <label for="magnitude" class="form-label">Magnitude</label>
                                <input type="text" class="form-control" id="magnitude" name="magnitude" placeholder="Enter magnitude (Es: 5.0)" value="5.0">
                            </div>
                            <div class="col-md-6">
                                <label for="radius" class="form-label">Radius (Km)</label>
                                <input type="text" class="form-control" id="radius" name="radius" placeholder="Enter radius (Es: 30)" value="30">
                            </div>
                            <div class="col-md-6">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" name="description" placeholder="Enter description (Es: visso test)" value="visso test">
                            </div>
                            <div class="col-md-6">
                                <label for="damageLaw" class="form-label">Damage Law</label>
                                <input type="number" class="form-control" id="damageLaw" name="damageLaw" placeholder="Enter damage law" value="4">
                            </div>
                            <div class="col-md-6">
                                <label for="pgaLaw" class="form-label">Pga Law</label>
                                <input type="number" class="form-control" id="pgaLaw" name="pgaLaw" placeholder="Enter pga law" value="5">
                            </div>
                            <div class="col-md-6">
                                <label for="fault" class="form-label">Fault</label>
                                <input type="number" class="form-control" id="fault" name="fault" placeholder="Fault" value="0">
                            </div>
                            <div class="col-md-6">
                                <label for="options" class="form-label">Options</label>
                                <input type="text" class="form-control" id="options" name="options" placeholder="Options" value="100000111">
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                            </div>
                        </form>

                </div>
            </div>
            <div class="tab-pane fade" id="earthquakeSimulationResults" role="tabpanel" aria-labelledby="earthquakeSimulationResults-tab">
                <!-- Content for earthquakeSimulationResults tab -->
                <p>Content related to EarthQuake Simulation Results </p>
                <!-- Grid of earthquakeSimulationResults  -->
                <div id="gridEarthquakeSimulationResults" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;">


                </div>
            </div>
             <!-- TAB PANELS 1° Level MENU [SIMULATION]: END -->
        </div>
        <!-- TAB PANELS: END -->

        <!-- Address search bar -->
        <div class="search-bar">
            <div class="input-group">
                <input id="addressInput" placeholder="Search by location name" type="text" class="form-control" style="text-overflow: ellipsis;">
            </div>
            <div id="suggestions" class="list-group mt-1" style="display: none;"></div>
        </div>

        <!-- Mouse coordinates -->
        <div id="mouseCoordinates"></div>

        <script type="text/javascript">

            // Funzione per mostrare il popup della form quando l'utente clicca sulla voce di menu "Earthquakes"
            function showEarthquakeModal() {
                $('#earthquakeModal').modal('show');
            }

            $(document).ready(function () {
                let centerLatitude = 43.1167
                let centerLongitude = 13.1996
                let zoomValue = 9

                mapBuildings = initWMSMap('mapBuildings', 'OpenStreetMap - EPSG:3857', 13.0683, 43.1357, 14, '@ViewData["wmsurl1"]', '@ViewData["wmslayer1"]');
                mapCriticalInfrastructures = initWMSMap('mapCriticalInfrastructures', 'Google Normal - EPSG:3857', centerLongitude, centerLatitude, zoomValue, '@ViewData["wmsurl2"]', '@ViewData["wmslayer2"]');
                mapSocialResilience = initWMSMap('mapSocialResilience', 'OpenStreetMap - EPSG:3857', centerLongitude, centerLatitude, zoomValue, '@ViewData["wmsurl3"]', '@ViewData["wmslayer3"]',);
                mapEconomicResilience = initWMSMap('mapEconomicResilience', 'OpenStreetMap - EPSG:3857', centerLongitude, centerLatitude, zoomValue, '@ViewData["wmsurl4"]', '@ViewData["wmslayer4"]');
                mapOperationalResilience = initWMSMap('mapOperationalResilience', 'OpenStreetMap - EPSG:3857', centerLongitude, centerLatitude, zoomValue, 'https://ahocevar.com/geoserver/wms', 'topp:states');

                
                // Pass jsonContent to visualizeEarthquakes_v01 function
                //visualizeEarthquakes_v01(mapOperationalResilience, @Html.Raw(jsonContent));
                               
                initTabs();
                updateTabs('Damages');
                updateBreadcrumb('Risk Analysis', 'Damages');

                $('#buildings-tab').on('click', function () {
                    activeTab = 'buildings';
                    console.log('activeTab =  buildings');
                });
                $('#infrastructures-tab').on('click', function () {
                    activeTab = 'infrastructures';
                    console.log('activeTab =  infrastructures');
                });
                $('#social-tab').on('click', function () {
                    activeTab = 'social';
                    console.log('activeTab =  social');
                });
                $('#economic-tab').on('click', function () {
                    activeTab = 'economic';
                    console.log('activeTab =  economic');
                });
                $('#operational-tab').on('click', function () {
                    activeTab = 'operational';
                    console.log('activeTab =  operational');
                });
                 $('#eqSimulation-tab').on('click', function () {
                    activeTab = 'operational';
                    console.log('activeTab =  operational');
                });

                var lastInputTime = 0;
                var delay = 2000; // Delay di 2 secondi

                // Funzione per cercare gli indirizzi e visualizzare i suggerimenti
                $('#addressInput').on('input', function () {
                    var currentTime = new Date().getTime();
                    if (currentTime - lastInputTime > delay) {
                        lastInputTime = currentTime;
                        var address = $(this).val();

                        var url = 'https://nominatim.openstreetmap.org/search?q=' + address + '&format=json&addressdetails=1&limit=5';

                        $.getJSON(url, function (data) {
                            $('#suggestions').empty();
                            if (data && data.length > 0) {
                                $('#suggestions').show();
                                $.each(data, function (i, item) {
                                    $('#suggestions').append('<a href="#" class="list-group-item list-group-item-action" data-type="' + item.type + '" data-lon="' + item.lon + '" data-lat="' + item.lat + '">' + item.display_name + '</a>');
                                });
                            } else {
                                $('#suggestions').hide();
                            }
                        });
                    }
                });

                // Funzione per zoomare sulla posizione selezionata dall'utente
                $('#suggestions').on('click', 'a', function (e) {
                    e.preventDefault();
                    var address = $(this).text();
                    var type = $(this).data('type');
                    var url = 'https://nominatim.openstreetmap.org/search?q=' + address + '&format=json&addressdetails=1&limit=1';

                    $.getJSON(url, function (data) {
                        if (data && data.length > 0) {
                            var lon = parseFloat(data[0].lon);
                            var lat = parseFloat(data[0].lat);

                            let map;

                            map = getMapFromActiveTab(activeTab, map);
                            map.getView().setCenter(ol.proj.fromLonLat([lon, lat]));
                            map.getView().setZoom(15);

                            addPointer(lon, lat, activeTab);

                            $('#suggestions').hide();
                        }
                    });
                });

                // Funzione per gestire la selezione della mappa quando si fa clic su una delle voci del menu a discesa
                $('.dropdown-item').on('click', function () {
                    $('.dropdown-menu').removeClass('show');
                });

            });

            // Associa la funzione showEarthquakeModal al click sulla voce di menu "Earthquakes"
           // $('#earthquakes-tab').on('click', function () {
           //     showEarthquakeModal();
           // });

        </script>
    </body>
    </html>
}